/***************************** Wiwi Reset *****************************/

/* :root{
  --color-primary: hsl(0, 0%, 20%);
  --color-secondary: hsl(0, 0%, 96%);
  --color-accent: hsl(12, 100%, 50%);
} */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: rgb(15, 15, 15);
  color: hsl(0, 0%, 90%);
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
}

input,
textarea,
button,
select {
  font: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

/** Prevent `sub` and `sup` elements from affecting the line height in all browsers. */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

::selection {
  background-color: hsl(150, 70%, 85%);
  color: #333;
}

/************************* End of Wiwi Reset **************************/

#page {
  display: grid;
  grid-template-areas: "header"
    "main"
    "footer";
  width: 100%;
  height: 100vh;
  grid-template-rows: 80px 1fr 80px;
}

#page>header {
  grid-area: header;
  background-color: rgb(41, 41, 41);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(121, 121, 121);
}

.logo span {
  font-weight: 200;
  font-size: 3rem;
}

#page header nav ul {
  display: flex;
  gap: 2rem;
}

a.middle {
  position: relative;
  color: inherit;
  text-decoration: none;
  padding: 0.3rem;
}

a.middle:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0px;
  left: 0;
  background-color: hsl(0, 0%, 90%);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

a.middle:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

#page>.main {
  grid-area: main;
  background-color: rgb(41, 41, 41);
  padding: 1rem 2rem;
}

#page>footer {
  grid-area: footer;
  background-color: rgb(41, 41, 41);
  border-top: 1px solid rgb(121, 121, 121);
  padding: 1rem 2rem;
}